doctype html
html(lang="en")
  include includes/head.pug
  body.min-h-screen.bg-gray-100.py-6.flex.flex-col.justify-center
    #container.relative.px-4.py-10.bg-white.shadow-lg.mx-auto.rounded(class="w-full")
      div.flex
        div(class="w-3/4")
          h1.pb-4.text-base.leading-6.font-bold.text-xl Cerbos Auth0 Demo
        div.text-right(class="w-1/4")
          a.px-6.rounded.bg-blue-500.p-2.text-center.text-white.shadow-lg(href="/logout") Logout
      h2.text-lg.leading-6.font-bold.mb-2 Authenticated as:
      p.pb-4.font-mono.leading-6.text-sm= email
      div.flex
        div.pr-2(class="w-1/3")
          p.text-lg.leading-6.font-bold.mb-2 Auth0 Token
          p.h-20.text-sm The token provided by Auth0 with the authentication information and any roles set.
          pre.text-xs.bg-gray-100.font-mono.overflow-auto.rounded
            code.highlight-json= JSON.stringify(jwt,0,2)
        div.pl-2.pr-2(class="w-1/3")
          p.text-lg.leading-6.font-bold.mb-2 Cerbos Request
          p.h-20.text-sm The request to the Cerbos PDP with the ID and Role of the principal passed from the Auth0 token along with two example resources. Normally these would be fetched from your datastore.
          pre.text-xs.bg-gray-100.font-mono.overflow-auto.rounded
            code.highlight-json= JSON.stringify(cerbosPayload,0,2)
        div.pl-2(class="w-1/3")
          p.text-lg.leading-6.font-bold.mb-2 Cerbos Response
          p.h-20.text-sm The authorization response from the Cerbos PDP. If you are logged in as an <b>admin</b> then all actions are allowed. If you have the <b>user</b> role then it is only possible to <em>update</em> or <em>delete</em> if you are the owner of the resource. You can find the full policy <a class="underline" href="https://play.cerbos.dev/p/g561543292ospj7w0zOrFx7H5DzhmLu2">here</a>.
          div.text-sm.mb-2.p-2.border.border-gray-200.rounded
            table.w-full
              thead.bg-gray-100
                tr
                  th.text-left.p-1 Resource
                  th.p-1 Read
                  th.p-1 Update
                  th.p-1 Delete
              tbody
                each result in cerbosResponse.results
                  tr
                    td.p-1= result.resource.id
                    td.text-center.p-1
                      if result.actions.read == "EFFECT_ALLOW"
                        p.text-green-500.font-bold Yes
                      else
                        p.text-red-500.font-bold No
                    td.text-center.p-1
                      if result.actions.update == "EFFECT_ALLOW"
                        p.text-green-500.font-bold Yes
                      else
                        p.text-red-500.font-bold No
                    td.text-center.p-1
                      if result.actions.delete == "EFFECT_ALLOW"
                        p.text-green-500.font-bold Yes
                      else
                        p.text-red-500.font-bold No

          pre.text-xs.bg-gray-100.font-mono.overflow-auto.rounded
            code.highlight-json= JSON.stringify(cerbosResponse,0,2)
      div.pt-5.text-sm.text-center
        p The code for this example is available <a class="underline" href="https://github.com/cerbos/express-auth0-cerbos">Github</a>. More information, examples and documentation can be found on <a class="underline" href="https://cerbos.dev">cerbos.dev</a>
